<ion-view view-title="Information">
  <ion-content>

    <div class="item item-divider">
      Device
    </div>

    <a class="item">
      Platform
      <span class="item-note">{{device.platform}}</span>
    </a>

    <a class="item">
      Version
      <span class="item-note">{{device.version}}</span>
    </a>

    <a class="item">
      Manufacturer
      <span class="item-note">{{device.manufacturer}}</span>
    </a>

    <a class="item">
      Model
      <span class="item-note">{{device.model}}</span>
    </a>

    <a class="item">
      Serial
      <span class="item-note">{{device.serial}}</span>
    </a>

    <a class="item">
      UUID
      <span class="item-note">{{device.uuid}}</span>
    </a>

    <div class="item item-divider">
      Network
    </div>

    <a class="item">
      Type
      <span class="item-note">{{networkType}}</span>
    </a>

  </ion-content>
</ion-view>
