<ion-view view-title="Motions">
  <ion-content>

    <div class="item item-divider">
      Accelerometer
    </div>

    <a class="item">
      X axis
      <span class="item-note">{{acceleration.x}}</span>
    </a>

    <a class="item">
      Y axis
      <span class="item-note">{{acceleration.y}}</span>
    </a>

    <a class="item">
      Z axis
      <span class="item-note">{{acceleration.y}}</span>
    </a>

    <div class="item item-divider">
      Compass
    </div>

    <a class="item">
      Magnectic heading
      <span class="item-note">{{heading.magneticHeading}}</span>
    </a>

    <a class="item">
      True heading
      <span class="item-note">{{heading.trueHeading}}</span>
    </a>

  </ion-content>
</ion-view>
